body {
	font: 300 16px/2 aRoboto, "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	padding: 1em;
	margin: auto;
}

p {
	margin: 0.5em 0;
	line-height: 1.4;
}

a {
	text-decoration: none;
	color: #d50;
}

/* Review */
.review {
	margin: 12px;
	background: #fff;
	border-radius: 7px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	padding: 1em;
}

.review * {
	vertical-align: middle;
}

time {
	color: #988;
	margin: 1em;
}

.rating {
	float: right;
	display: inline-block;
	margin-bottom: 1em;
}

.star {
	padding: 0;
	margin: 2px;
	display: inline-block;
	width: 28px;
	min-height: 28px;
	background: no-repeat center/250px url(sprites.png);
	background-position: -30px -62px;
}

.star.golden {
	background-position: 0 -62px;
}

.content {
	padding: 16px 48px;
	position: relative;
	background: no-repeat 10px 25px url(lquo.png);
}

.content:after {
	content: '';
	display: inline-block;
	margin-top: -7px;
	height: 23px;
	width: 55px;
	background: no-repeat center url(rquo.png);
}

.content:before {
	position: absolute;
	left: 0;

}

i.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: no-repeat center url(https://static.reviewmgr.com/sprites/icons24x24.png?v=1498829508);
}

i.icon.google {
	background-position-y: -648px !important;
}

i.icon.facebook {
	background-position-y: -456px;
}

i.icon.yelp {
	background-position-y: -1872px;
}

i.icon.healthyhearing {
	background-position-y: -3216px;
}

.name {
	display: inline-block;
	margin-left: 7px;
	font: 700 18px sans-serif;
}

.view {
	display: block;
}